name: Test

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
          node-version: lts/*
          cache: "yarn"
      - run: yarn --frozen-lockfile
      - uses: actions/cache@v4
        with:
          path: .eslintcache
          key: lint-${{ env.GITHUB_SHA }}
          restore-keys: lint-
      - run: yarn lint
  test:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
        node-version: [10.x, 12.x, 14.x, 16.x, 18.x, 20.x, 21.x]
        polling: ["false", "200"]
        exclude:
          - os: macos-latest
            node-version: 10.x
            polling: "200"
          - os: macos-latest
            node-version: 12.x
            polling: "200"
          - os: macos-latest
            node-version: 14.x
            polling: "200"
          - os: macos-latest
            node-version: 16.x
            polling: "200"
          - os: macos-latest
            node-version: 18.x
            polling: "200"
          - os: macos-latest
            node-version: 20.x
            polling: "200"
          - os: macos-latest
            node-version: 21.x
            polling: "200"
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
          cache: "yarn"
      - run: yarn --frozen-lockfile
      - run: yarn test:coverage --report lcovonly
        env:
          WATCHPACK_POLLING: ${{ matrix.polling }}
      - uses: codecov/codecov-action@v4
        with:
          flags: integration
          functionalities: gcov
          token: ${{ secrets.CODECOV_TOKEN }}
